@model GenreViewModel

@{
    ViewData["Title"] = $"Genre {Model.Name}";
}

<h1>Details</h1>

<div>
    <h4>Genre</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (string.IsNullOrWhiteSpace(Model.ParentId))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParentName)
            </dt>
            <dd class="col-sm-10">
                <a asp-action="GetGenreById" asp-route-genreId="@Model.ParentId" class="text-decoration-none">
                    @Model.ParentName
                </a>
            </dd>
        }
        @if (Model.SubGenres.Count > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SubGenres)
            </dt>
            <dd class="col-sm-10">
                <ul class="list-group">
                    @foreach (var genre in Model.SubGenres)
                    {
                        <li class="list-group-item">
                            <a asp-action="GetGenreById" asp-route-genreId="@genre.Id" class="text-decoration-none">
                                @genre.Name
                            </a>
                        </li>
                    }
                </ul>
            </dd>
        }
    </dl>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Details genre toolbar">
    <div class="btn-group me-2" role="group" aria-label="Operation group">
        <a asp-action="Update" asp-route-genreId="@Model.Id" class="btn btn-warning">Update</a>
        <form asp-controller="Genre" asp-action="Remove" method="post">
            <input asp-for="Id"/>
            <button type="submit" value="Remove" class="btn btn-danger">Remove</button>
        </form>
        <a asp-action="GetGenres" class="btn btn-primary">Back to List</a>
    </div>
</div>