@model IEnumerable<GenreViewModel>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>

<p>
    <a asp-action="Create" class = "btn btn-success">Add New Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="GetGenreById" asp-route-genreId="@item.Id" class="text-decoration-none">
                    @item.Name <span class="badge bg-danger">@item.SubGenres.Count</span>
                </a>
            </td>
            <td>
                <div class="btn-group">
                    <a asp-action="Update" asp-route-genreId="@item.Id" class="btn btn-warning">Update</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
