@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>
                <div class="btn-group me-2" role="group" aria-label="Operation group">
                    <a asp-action="Update" asp-route-userName="@item.UserName" class="btn btn-warning">Update</a>
                    <form asp-action="Remove" asp-route-userName="@item.UserName" method="post">
                        <button type="submit" value="Remove" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>