@model IEnumerable<GameViewModel>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="GetGameByKey" asp-route-gameKey="@item.Key" class="text-decoration-none">
                    @item.Name
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (User.IsInRoles(Permissions.ManagerPermission))
                {
                    <div class="btn-group">
                        <a asp-action="Update" asp-route-gameKey="@item.Key" class="btn btn-warning">Update</a>
                    </div>
                }
            </td>
        </tr>
    }
    </tbody>
</table>