@model IEnumerable<OrderDetailViewModel>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Discount)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">
            <b>Total:</b>
        </td>
        <td class="text-right">
            @ViewData["GrandTotal"]
        </td>
    </tr>
    </tfoot>
</table>