@model OrderViewModel

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(o => o.OrderDetails.FirstOrDefault().ProductName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(o => o.OrderDetails.FirstOrDefault().Price)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(o => o.OrderDetails.FirstOrDefault().Quantity)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(o => o.OrderDetails.FirstOrDefault().Discount)
        </th>
        @if (Model.EnableModification)
        {
            <th></th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderDetails)
    {
        <tr>
            <td>
                <a asp-controller="Game" asp-action="GetGameByKey" asp-route-gameKey="@item.GameKey"></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            @if (Model.EnableModification)
            {
                <td>
                    <form asp-controller="Order" asp-action="RemoveFromBasket"
                          asp-route-gameKey="@item.GameKey" method="post">
                        <button type="submit" value="Remove" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            }
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">
            <b>Total:</b>
        </td>
        <td class="text-right">
            @Html.DisplayFor(model => model.Total)
        </td>
    </tr>
    </tfoot>
</table>