@model OrderViewModel

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayName(nameof(OrderDetailViewModel.ProductName))
        </th>
        <th scope="col">
            @Html.DisplayName(nameof(OrderDetailViewModel.Price))
        </th>
        <th scope="col">
            @Html.DisplayName(nameof(OrderDetailViewModel.Quantity))
        </th>
        <th scope="col">
            @Html.DisplayName(nameof(OrderDetailViewModel.Discount))
        </th>
        @if (Model.EnableModification)
        {
            <th></th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderDetails)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            @if (Model.EnableModification)
            {
                <td>
                    <form asp-controller="Order" asp-action="RemoveFromBasket"
                          asp-route-productId="@item.ProductId" method="post">
                        <button type="submit" value="Remove" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            }
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">
            <b>Total:</b>
        </td>
        <td class="text-right">
            @Model.Total.ToString("c");
        </td>
    </tr>
    </tfoot>
</table>